   <div>
         {{!-- como action indicamos a donde va a redirijir esta llamada --}}
         <form action="/artist-search", method="GET">
            <input type="text" name="">
            <button id="search-for-an-artist">Search for an arist</button>
         </form>
      </div>
